<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_report.css') }}">
    <title>Reporte</title>
</head>
<body>
    <h1>Generador de Gráficos</h1>
    <form method="POST">
        <label for="tipo_grafico">Tipo de gráfico:</label>
        <select name="tipo_grafico" id="tipo_grafico" required>
            <option value="lineas">Líneas</option>
            <option value="barras">Barras</option>
            <option value="pie">Pastel</option>
        </select>

        <label for="nombre_columnas">Seleccione las columnas:</label>
        <select name="nombre_columnas" id="nombre_columnas" multiple required>
            {% for columna in columnas %}
            <option value="{{ columna }}">{{ columna }}</option>
            {% endfor %}
        </select>

        <button type="submit">Generar Gráfico</button>
    </form>

    {% if grafico %}
    <h3>Gráfico generado:</h3>
    <img src="{{ url_for('static', filename='grafico.png') }}" alt="Gráfico">
    <a href="{{ url_for('download_pdf') }}">Descargar PDF</a>
    {% endif %}
</body>
</html>
